body{
    background-image: url(hobbylandbg.jpg);
    margin: 100px;
}

.sign{
    width: 382px;
    overflow: hidden;
    margin: auto;
    margin:20 0 0 450px;
    padding: 150px 150px 100px 150px;
    background:#147fa6;
    border-radius: 15px;
    color:rgb(233, 232, 232);
}

.sign img{
    position: relative;
    left: -50px;
    top: -50px;
}

label{
    color:rgb(233, 232, 232);
}

#create{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 17px;
    padding-left: 7px;
    color: #147fa6;
}