body{
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(hobbylandbg.jpg);
  padding:0px;
  margin: 0px;
}

img {
  width: 400px;
  border-radius: 50px;
  margin: auto;
  display: block;
}
p.header {
  font-weight: bold;
  font-family: cursive;
}
p {
  text-align: center;
}
form {
  margin: auto;
  width: 300px;
  font-family: sans-serif;
}

.navbar{
  background:rgb(26, 25, 25);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar__container{
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 50px;
}

.navbar__container img{
  position: relative;
  left: -100px;
  top: 22px;
  height: 50px;
  width: 176px;
  border-radius: 0%;
}

.navbar__menu{
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
}

.navbar__item{
  height: 80px;
}

.navbar__links{
  color:rgb(231, 231, 231);
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
}

.navbar__btn{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1 rem;
  margin: 10px 10px;
  width: 100%;
}

.button{
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 10px 20px;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 4px;
  background: #1767fa;
  color: #fff;
}


.button:hover{
  background: #124dbb;
  transition: all 0.3s ease;
}

.navbar__links:hover{
  color: #5590ff;
  transition: all 0.3s ease;
}